<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/12c7aa1406.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Gentium+Plus:ital,wght@1,700&family=Merriweather:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/welcome.css">
    <title>Blog</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div id="heading">
                <a href="/index.html"><i id="icon" class="fa-solid fa-quote-left"></i>BLOG</a>
            </div>
            <nav class="navbar-container">
                <ul id="menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">Categories</a></li>
                    <li><a href="">Featured Posts</a></li>
                    <li><a href="">Contact</a></li>
                    <li>
                        <input type="text" class="search-box" placeholder="Search blog...">
                        <a href="" class="search-icon"><i class="fas fa-search"></i></a>
                    </li>

                    <li><a href="">Sign In</a></li>
                    <li><a href="">Sign Up</a></li>
                </ul>
                <!-- hamburger menu -->
                <div id="hamburger">
                    <div>
                        <input type="text" class="search-box" placeholder=" ">
                        <a href="" class="search-icon"><i class="fas fa-search"></i></a>
                    </div>
                    <div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <nav class="navbar-hamburger-container">
        <ul id="menu-hamburger">
            <li><a href="">Home</a></li>
            <li><a href="">Categories</a></li>
            <li><a href="#blog-homepage">Featured Posts</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Sign In</a></li>
            <li><a href="">Sign Up</a></li>
        </ul>
    </nav>

    <section id="banner">
        <div class="banner-image"></div>
        <div class="banner-text">
            <h1>Welcome to <span>BLOG!</span></h1>
            <p>
                Welcome to our blog, where we explore captivating topics, share insightful stories, and provide valuable information. Whether you're seeking inspiration, knowledge, or simply a moment of relaxation, our blog is here to accompany you on your journey.</p>
            <p>
                Dive into a world of engaging articles written by our team of passionate writers and contributors. From thought-provoking discussions on current events to practical tips and advice for everyday life, we aim to offer a diverse range of content that caters to various interests and curiosities.</p>
            <p>
                Immerse yourself in our carefully curated collection of articles, each crafted to inform, entertain, and spark meaningful conversations. Delve into captivating narratives, discover expert perspectives, and uncover hidden gems of wisdom that will enrich your understanding of the world around us.
            </p>
            <p>
                As you navigate through our blog, feel free to explore different categories that resonate with you. From technology and lifestyle to health and culture, there's something for everyone. We invite you to share your thoughts, engage in discussions, and connect with our vibrant community of readers.
            </p>
            <p>
                We hope you enjoy your stay here at BLOG. <br> <span>Happy Reading!</span>
            </p>
            <a href="/index.html" class="banner-cta">Back</a>
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>